.loginPage, .signupPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  background-color: #f4f4f4; 
}

.container {
  background: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px; 
}

.headerDiv {
  text-align: center;
  margin-bottom: 20px; 
}

.inputDiv {
  margin-bottom: 15px; 
}

.inputDiv input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  width: 100%; 
  padding: 10px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #8f9690;
  color: hsl(94, 55%, 56%);
}

.forgotPassword, .footerDiv {
  text-align: center;
  margin-top: 20px; 
}

.footerDiv {
  margin-top: 30px; 
}
.footer-links {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  gap: 15px; 
}
.footer {
  text-align: center;
  margin-top: 100px; 
  width: 100%;
}

@media screen and (max-width: 602px) {
  .loginPage .container, .registerPage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginPage .container  .registerPage .container  {
    width: 100%;
  }
  .loginPage .container  .textDiv .title, .registerPage .container  .textDiv .title {
    font-size: 20px;
  }
  .loginPage .container  .textDiv p, .registerPage .container  .textDiv p {
    padding: 1rem;
  }
  .loginPage .container  .footerDiv .text, .registerPage .container  .footerDiv .text {
    font-size: 12px;
  }
  .loginPage .container  .footerDiv .btn, .registerPage .container  .footerDiv .btn {
    padding: 0.4rem 1.5rem;
  }
  .loginPage .container .formDiv, .registerPage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .loginPage .container .formDiv .headerDiv, .registerPage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .loginPage .container .formDiv .headerDiv img, .registerPage .container .formDiv .headerDiv img {
    width: 40px;
  }
  .loginPage .container .formDiv .headerDiv h3, .registerPage .container .formDiv .headerDiv h3 {
    font-size: 20px;
  }
  .loginPage .container .formDiv .form, .registerPage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginPage .container .formDiv .form .inputDiv input, .registerPage .container .formDiv .form .inputDiv input {
    width: 100%;
  }
}
.message {
  color: white;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  display: none; 
}

.errorMessage {
  background: rgb(255, 0, 0); /* Red for errors */
}

.successMessage {
  background: rgb(34, 139, 34); /* Green for success */
}

.showMessage {
  display: block; 
}

.App {
  display: flex;
}

.App.minimized .body {
  margin-left: 80px; 
  width: calc(100% - 80px);
}


